.row {
  font-size: 0;

  .col {
    display: inline-block;
    vertical-align: top;
  }

  &--photos {
    margin-left: -20px;

    @media (min-width: $screen-md) {
      margin-left: -55px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
figcaption,
blockquote,
fieldset,
legend,
input,
label {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
