.page-header {
  color: $white;
  background: url($dir-img + "background-mobile@1x.jpg") no-repeat 50% 50% $bg-color-header;
  background-size: cover;

  @media (min-width: $screen-md) {
    background: url($dir-img + "background-tablet@1x.jpg") no-repeat 50% 50% $bg-color-header;
    background-size: cover;
  }

  @media (min-width: $screen-lg) {
    background: url($dir-img + "background-fullsize.jpg") no-repeat 50% 50% $bg-color-header;
    background-size: cover;
  }

  &--index {
    position: relative;
    margin-bottom: 340px;
    @media (min-width: $screen-md) {
      position: static;
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $screen-lg) {
      align-items: stretch;
    }
  }


  &__top-bar {
    @extend %clearfix;
    height: 80px;
    position: relative;
    padding: 20px 0;
    color: $white;
    line-height: $line-height--small;
    background: rgba($color: $black, $alpha: .3);
    transition: background .5s;
    margin-bottom: 100px;

    @media (min-width: $screen-md) {
      padding-bottom: 40px;
    }
  }
  
  &__top-bar--open {
    background-color: $color;
    transition: background .3s;
  }

  &__logo span{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;

    @media (min-width: $screen-md) {
      display: none;
    }

    &:hover {
      color: $color
    }
  }
}

.page-title {
  @include heading-big;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 320px;
  line-height: normal;
  color: $white;
  @include media-fonts;

  @media (min-width: $screen-md) {
    margin-top: 0;
    padding-bottom: 0;
  }

  &--inner {
    padding: 60px 0 100px;
    text-align: center;
  }
}

.get-app {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: $font-size;
  line-height: 1.72;
  font-weight: $headings-weight--light;
  text-align: center;
  background-color: #1d2631;
  color: $white;

  @media (min-width: $screen-md) {
    position: static;

    font-size: $font-size--big;
    line-height: 1.4;
    background-color: transparent;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 110px;
  }

  &__inner {
    margin-bottom: 50px;
  }

  &__img {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 35px;
    padding-bottom: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.header-inner {
  background: url($dir-img + "iphone-hand-mobile.png") no-repeat 40% 100%;

  @media (min-resolution: 1.5dppx) {
    background: url($dir-img + "iphone-hand-mobile@2x.png") no-repeat 40% 100%/60%;
  }
  @media (min-resolution: 2dppx) {
    background: url($dir-img + "iphone-hand-mobile@3x.png") no-repeat 40% 100%/60%;
  }

  @media (min-width: $screen-md) {
    background: url($dir-img + "iphone-hand-tablet@1x.png") no-repeat 80% 100%/contain;

    @media (min-resolution: 1.5dppx) {
      background: url($dir-img + "iphone-hand-tablet@2x.png") no-repeat 80% 100%/contain;
    }
  }

  @media (min-width: $screen-lg) {
    background: url($dir-img + "iphone-hand-desktop@1x.png") no-repeat 60% 100%/contain;

    @media (min-resolution: 1.5dppx) {
      background: url($dir-img + "iphone-hand-desktop@2x.png") no-repeat 58% 100%/contain;
    }
  }
}
