.post-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid $grey;

  @media (min-width: $screen-md) {
    border-bottom-style: none;
  }

  &__title {
    margin-bottom: 20px;
    font-size: ($font-size + 1.6);
    line-height: 1.2;

    @media(min-width: 960px) {
      font-size: ($font-size + 3.6);
    }
  }

  &__date {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    background-color: $white;
    @extend .blog-item__date;

    @media (min-width: $screen-md) {
      margin-top: 30px;
      order: 3;
    }

    span {
      display: inline-block;
      padding: 0 25px;
      background-color: #fff;
    }

    &:after {
      position: relative;
      top: -15px;
      z-index: -1;
      display: none;
      content: ' ';
      border-bottom: 2px dotted $grey;

      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &__text {
    margin-bottom: 3rem;
    font-size: ($font-size + .2);
    line-height: 1.7;

    @media(min-width: 480px) {
      font-size: $font-size--h1;
    }

    @media(min-width: 960px) {
      padding: 0 30px;

      order: 2;
    }
  }
}

.post {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: $white;

  @media(min-width: 480px) {
    margin: 0 60px;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: $font-size--big;
    font-weight: $headings-weight;
    line-height: 1.7;
    text-transform: uppercase;

    @media(min-width: 480px) {
      font-size: $font-size--big + .6;
      line-height: 1.25;
    }

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &__text {
    margin-bottom: 20px;
    @extend .blog-item__text;
  }

  &__link {
    text-decoration: underline;
    color: $red;
  }
}

.list-post {
  margin-bottom: 60px;

  &__item {
    position: relative;
    padding-left: 35px;
    line-height: 3;
    @extend .blog-item__text;

    &:before {
      position: absolute;
      top: 40%;
      left: 0;
      display: block;
      width: 6px;
      height: 6px;
      content: ' ';
      border-radius: 50%;
      background: $red;
    }
  }
}

.quote-post {
  margin-top: 30px;
  padding-left: 35px;
  border-left: 2px solid $red;

  @include item-text;

  &__author {
    margin-top: 15px;
    padding-bottom: 0;
    font-style: italic;
    color: $grey;
  }
}
