.reviews input[type=radio],
.price input[type=radio] {
  display: none;
}

.swipe-controls {
  width: 140px;
  margin: 35px auto 0 auto;
  text-align: center;
  display: block;

  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin-right: 15px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #7e868f;
    }

    &:active {
      opacity: .3;
    }

    &--current {
      box-sizing: content-box;
      background-color: transparent;
      @include border(3px, solid, $color, 50%);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--reviews {
    @media (min-width: $screen-lg--max) {
      display: none;
    }
  }

  &--price {
    @media (min-width: $screen-md--max) {
      display: none;
    }
  }
}

.arrow-controls label {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

#price-1:checked ~ .price-table--mobile {
  transform: translateX(0)
}

#price-2:checked ~ .price-table--mobile {
  transform: translateX(-270px);
}

#price-3:checked ~ .price-table--mobile {
  transform: translateX(-520px);
}

#reviews-1:checked ~ .reviews-item:nth-of-type(1),
#reviews-2:checked ~ .reviews-item:nth-of-type(2),
#reviews-3:checked ~ .reviews-item:nth-of-type(3) {
  display: flex;
}

@media (min-width: $screen-lg) {
  #reviews-1:checked ~ .arrow-controls label:nth-child(2),
  #reviews-2:checked ~ .arrow-controls label:nth-child(3),
  #reviews-3:checked ~ .arrow-controls label:nth-child(1) {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    background: url($dir-img + "review-arrow-right.svg") no-repeat 50% 50%;
  }

  #reviews-1:checked ~ .arrow-controls label:nth-child(3),
  #reviews-2:checked ~ .arrow-controls label:nth-child(1),
  #reviews-3:checked ~ .arrow-controls label:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    background: url($dir-img + "review-arrow-left.svg") no-repeat 50% 50%;
  }
}

#price-1:checked ~ .swipe-controls label:nth-child(1),
#reviews-1:checked ~ .swipe-controls label:nth-child(1) {
  @extend .swipe-controls__item--current;
}

#price-2:checked ~ .swipe-controls label:nth-child(2),
#reviews-2:checked ~ .swipe-controls label:nth-child(2) {
  @extend .swipe-controls__item--current;
}

#price-3:checked ~ .swipe-controls label:nth-child(3),
#reviews-3:checked ~ .swipe-controls label:nth-child(3) {
  @extend .swipe-controls__item--current;
}
